/** Основные цвета **/
$black-primary: #1c1819;
$blue-primary: #2a81dd;

$blue-light: #34a2e9;

$black: #000000;
$white: #ffffff;


$radius: 4px;
$radius-medium: 8px;
$radius-large: 16px;

$f-weight-regular: 400;
$f-weight-semi: 600;
$f-weight-bold: 700;

$layout-max-width: 1448px;
$layout-min-width: 768px;

$box-shadow: 0 5px 10px 0 rgba($black-primary, 0.15);

$font-family-base: 'Poppins', sans-serif;
